body {
  background-color: #555;
}

.gameArea {
  position: relative;
  width: 100%;
  height: 100dvh;
  font-weight: bold;
  color: white;
  background-color: #555;
  overflow: hidden;
}

.arrow {
  position: absolute;
  width: 10%;
  height: 1%;
  left: 75%;
  top: 90%;
  background-color: hsl(1, 100%, 80%);
  transform-origin: right bottom;
  z-index: 9;
}

.player {
  position: absolute;
  width: 18vw;
  height: 10vw;
  left: 78%;
  top: 85%;
  background-image: url("../img/game/player.png");
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 10;
}
.player::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 11%;
  height: 23%;
  left: 48%;
  top: 43%;
}
.player.on::before {
  display: none;
}

.food {
  position: absolute;
  width: 5vw;
  height: 5vw;
  background-size: 100% 100%;
  z-index: 11;
  pointer-events: none;
}
.food.hide {
  opacity: 0;
}
.food.milk {
  background-image: url("../img/game/milk.png");
}
.food.cream {
  background-image: url("../img/game/cream.png");
}
.food.eggYellow {
  background-image: url("../img/game/egg-yellow.png");
}
.food.eggWhite {
  background-image: url("../img/game/egg-white.png");
}
.food.sugar {
  background-image: url("../img/game/sugar.png");
}

.foodArea {
  position: absolute;
  width: 5vw;
  height: 5vw;
  left: 84%;
  top: 90%;
  z-index: 12;
  pointer-events: none;
}
.foodArea .foodText {
  position: absolute;
  width: 12vw;
  top: 4.5vw;
  left: -3vw;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

.pot {
  position: absolute;
  width: 20%;
  height: 8%;
  left: 30%;
  top: 80%;
  border: 1vw solid white;
  border-radius: 0 0 30% 30%;
  border-top: none;
  z-index: 5;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  margin-top: 12px;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 16px;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity 0.2s, transform 0.2s;
}
.button.on {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.foodDetailsArea {
  white-space: break-spaces;
}

.resultArea {
  margin-top: 12px;
}

.resultPudding {
  font-size: 20px;
}

.resultDetails {
  white-space: break-spaces;
}