body {
  background-color: #555;
  user-select: none;
}

.gameContainer {
  background-color: #222;
}

.gameArea {
  position: relative;
  width: 60dvh;
  height: 100dvh;
  margin: auto;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(
    0deg,
    #716f6a 4%,
    #9a968f 4% 27%,
    #333 27% 30%,
    #737471 30%,
    #585b58
  );
  overflow: hidden;
}

.arrow {
  position: absolute;
  width: 16%;
  height: 1%;
  left: 62%;
  top: 76%;
  background-color: hsl(1deg 100% 80% / 100%);
  transform-origin: right bottom;
  z-index: 9;
  transition: transform 0.1s linear;
}

.player {
  position: absolute;
  width: 36%;
  padding-top: 20%;
  left: 66%;
  top: 70%;
  background-image: url('../img/game/player.png');
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 10;
  &::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 11%;
    height: 23%;
    left: 48%;
    top: 43%;
  }

  &.on {
    &::before {
      display: none;
    }
  }
}

.food {
  position: absolute;
  width: 10%;
  height: 6%;
  background-size: 100% 100%;
  z-index: 11;
  pointer-events: none;

  &.hide {
    opacity: 0;
  }

  &.milk {
    background-image: url('../img/game/milk.png');
  }

  &.cream {
    background-image: url('../img/game/cream.png');
  }

  &.eggYellow {
    background-image: url('../img/game/egg-yellow.png');
  }

  &.eggWhite {
    background-image: url('../img/game/egg-white.png');
  }

  &.sugar {
    background-image: url('../img/game/sugar.png');
  }

  &.onHand {
    left: 80%;
    top: 79%;
    transform: translate(-50%, -50%);
    z-index: 12;
  }
}

.foodText {
  position: absolute;
  width: 20%;
  left: 71%;
  top: 82%;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
  pointer-events: none;
}

.button {
  display: inline-block;
  min-width: 16%;
  padding: 12px;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 16px;
  white-space: nowrap;
  z-index: 20;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.changeFood {
  position: absolute;
  left: 70%;
  top: 86%;
}

.pot {
  position: absolute;
  box-sizing: border-box;
  width: 26%;
  height: 8%;
  left: 16%;
  top: 62%;
  background-color: #deabab;
  border: 8px solid #d88b8b;
  border-radius: 6% 6% 30% 30%;
  border-top: none;
  z-index: 5;

  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 16%;
    left: 100%;
    background-color: #d88b8b;
    border-radius: 10px;
  }
}

// ui

.startBake {
  margin-top: 12px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity 0.2s, transform 0.2s;

  &.on {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.foodDetailsArea {
  white-space: break-spaces;
}

.foodArea {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

// resultArea
.dialogContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 50;

  &.on {
    display: flex;
  }
}

.resultArea {
  position: absolute;
  width: 300px;
  padding: 20px;
  background-color: #f9f6ef;
  color: #333;
  margin-top: 12px;
  border-radius: 20px;
  box-shadow: 0 4px 12px black;

  .button {
    margin: auto 10px;
    border-color: #333;
    &:hover {
      background-color: rgba(60, 60, 60, 0.1);
    }
  }
}

.resultPudding {
  font-size: 20px;
  color: #f05522;
}

.resultComment {
  margin-top: 12px;
  font-size: 14px;
  color: #aaa;
}

.resultDetails {
  margin: 20px auto;
  white-space: break-spaces;
}

.resultImg {
  display: inline-block;
  width: 240px;
  height: 240px;
}
